html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}

input[type="radio"]:hover {
  cursor: pointer;
}

/* scrollbar styling */

#customscroll::-webkit-scrollbar-track
{
  border-radius: 10px;
	background-color: #FFFFFF;
}

#customscroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #FFFFFF;
}

#customscroll::-webkit-scrollbar-thumb
{
	background-color: #c3c3c3;
}

/* ion icon styling */

ion-icon {
  color: black;
}

#check-white {
  color: white;
}

#answer-check-white {
  color: white;
  font-size: 1.8rem;
}

#check-pw {
  font-size: 1.5rem;
}

#check-pw:hover {
  cursor: pointer;
}

#add-question {
  font-size: 1.5rem;
  color: #979797;
}

#time-limit {
  font-size: 1.2rem;
}

#person-outline {
  font-size: 1.3rem;
}

#people-outline {
  font-size: 1.3rem;
}

#people-outline2 {
  font-size: 1.5rem;
}

#add-circle-outline {
  font-size: 1.3rem;
  color: white;
}

#menu-icon {
  font-size: 1.5rem;
  margin-right: 0 !important;
  color: #bdbdbd;
}

#menu-icon-big {
  font-size: 2rem;
  margin-right: 0 !important;
  color: white;
}

#menu-icon-big:hover {
  color: #bdbdbd;
  cursor: pointer;
}

#menu-icon-white{
  font-size: 1.2rem;
  margin-right: 0 !important;
  color: white;
}

#chevron-back-outline {
  color: white;
  font-size: 1.2rem;
}

#add-circle-outline {
  font-size: 1.5rem;
  color: white;
}

/* dropdown */

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


/* tag custom */
div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

textarea {
  resize: none;
}

/* fade animation */
#fade-big {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  30% {
    opacity:1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity:0;
    transform: translateY(-5rem);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  30% {
    opacity:1;
  }
  100% {
    opacity:0;
    transform: translateY(-5rem);
  }
}

#fade-small {
  animation: fadeInSmall ease 3s;
  -webkit-animation: fadeInSmall ease 3s;
}
@keyframes fadeInSmall {
  0% {
    opacity:0;
  }
  30% {
    opacity:1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity:0;
    transform: translateY(-2rem);
  }
}

@-webkit-keyframes fadeInSmall {
  0% {
    opacity:0;
  }
  30% {
    opacity:1;
  }
  100% {
    opacity:0;
    transform: translateY(-2rem);
  }
}

/* other styling */

#game-card-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

#boss-animation img{
  animation: boss-die-animation ease 3s;
  -webkit-animation: boss-die-animation ease 3s;
}

@keyframes boss-die-animation {
  0% {
    /* opacity:0; */
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  10% {
    /* opacity:.5; */
    filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(0deg) saturate(100%) contrast(1);
  }
  20% {
    /* opacity:1; */
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  30% {
    /* opacity:0; */
    filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(0deg) saturate(100%) contrast(1);
  }
  40% {
    /* opacity:1; */
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  50% {
    /* opacity: 0; */
    filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(0deg) saturate(100%) contrast(1);
  }
  60% {
    opacity: 1;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  100% {
    opacity:0;
  }
}

#defeated-animation {
  animation: fadeDefeat ease 6s;
  -webkit-animation: fadeDefeat ease 6s;
}

@-webkit-keyframes fadeDefeat {
  0% {
    opacity:0;
  }
  50% {
    opacity:0;
    transform: translateY(1rem);
  }
  80% {
    opacity: .8;
  }
  100% {
    opacity:1;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
